.my-list{
    margin: auto;
    background-color: #e7e7e7;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1px solid #e6e9e8;
    background-color: #189676;
    box-shadow: 0 0 10px 2px #eeeeee;
}
ol{
    margin: 12px;
}

p{
    text-align: center;
}
